.site-init{
    height: 240px;
    background-image: url("/img/header.jpg");
    background-size: 100%;
    background-position: center-top;
    background-attachment: fixed;
    text-align: center;
    color: whitesmoke;
    padding-top: 7px;

}
.site-init nav a{
    color: whitesmoke;
    text-decoration: none;
}
body{
    margin: 0;
}